name: Build and Push Docker Image

on:
  push:
    branches: [ main ]  # Change "main" to your branch if different

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -t Airflow:latest -f .github/Dockerfile GitHub .
        
      - name: Login to Docker Hub
        run: echo "okba1020@" | docker login --username aminebenaliroo@gmail.com --password-stdin

      - name: Push the Docker image
        run: docker push aminbenali/dockerized-airflow:V1
