name: Build and Push Docker Image

on:
  push:
    branches: [ main ]  # Change "main" to your branch if different

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Login to Docker Hub
        run: echo "okba1020@" | docker login --username aminebenaliroo@gmail.com --password-stdin

      - name: Build the Docker image
        run: docker build -t airflowimage ${GITHUB_WORKSPACE}

      - name: Push the Docker image (optional, if using tags)
        run: docker push aminbenali/airflowimage
